/*Barra*/
.body{
    font-family: 'Open Sans', sans-serif;
}
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color:#ffe1e1;
    font-size: 15px;
}
/*Baner*/
/*Formulario*/
#formulario h2{
    color:#414850;
}
#formulario{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#formulario button{
    background-color:#ffc3a0 ;
    color:white;
    height: 60px;
    width: 200px;
    font-size:32px;
    padding: 0px;
    margin: 0px;
}
#formulario button:hover{
    background-color: #F3969A ;
}
#formulario input{
    border: none;
    border-bottom:solid #ffe1e1 0.2rem ;
    font-size: 20px;
    font-style: italic;
}
#formulario input:focus{
    border-bottom: solid #f39c55 0.2rem;
}
#formulario textarea{
    border: none;
    border-bottom:solid #ffe1e1 0.2rem ;
    font-size: 20px;
    font-style: italic;
}
#formulario textarea:focus{
    border-bottom: solid #f39c55 0.2rem;
}

/*instagram*/
#social{
    text-align: center;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color:#414850;
    
}
#social a{
    color:  #F3969A;
    font-size: 30px;
    
}
#ing{
    height: 50%;
    width: 50%;
}
/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#icon{
    font-size: xx-large;
}
#servicio h1{
    font-family: "Merienda One";
}