/*Barra*/
#barra li a:hover{
    
    color: #ffffff;
}
#barra{
    background-color: #F3969A;
}
/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#footer a:hover{
    color:#77818b;

}
#footer img{
    max-height: 36px;
}
#servicio h1{
    font-family: "Merienda One";
}