/*Barra*/
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color: #F3969A;
    font-size:medium;
}
#katu{
    font-family: 'Yellowtail', cursive;
    color: 	#0a0a0a;
    font-size: 30px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#frase{
    position: relative;
    bottom: 5px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    text-align: center;
}
/*Carrusel*/
#carruselMain .carousel-inner img{
    height: 600px;
    object-fit: cover;
    filter:brightness(0.75);
}
.carousel-item{
    width: 100%;
    height:100%;
}

#texto{
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#carruselMain p{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
#carruselMain h2{
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*Tarjetas*/
#fondo{
    background-color: rgb(255, 129, 135);
}
#servicio{
    margin:auto;
    margin-top: 20px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    display: block;
}
#servicio hr{
    background-color: #bca0e2;
    height: 5px;
    width: 12rem;
    border-radius: 10px;
}

#servicio .row img{
    max-height: 400px;
    max-width: 100%;
}
/*Link portafolio*/
#portafolio a:hover{
    background-color:rgb(44, 44, 44);
    color:#F3969A;
}
#portafolio{
    text-align:center;
}
#portafolio hr{
    max-width: 30rem;
}
#portafolio h2{
    font-size:32px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    color:rgb(44, 44, 44);
}
#portafolio a{
    background-color: #F3969A ;
    color: #ffffff;
    text-decoration:none;
    font-size:30px;
}
/*Contacto Banner*/
#contacto{
    background-color:#d2c6e3;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
}
#contacto a{
    background-color: whitesmoke;
    font-size: x-large;
    height: 50px;
    color: #bca0e2;
}
#contacto a:hover{
    color:whitesmoke;
    background-color: rgb(252, 225, 104);
}
/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#footer a:hover{
    color:#77818b;

}
#footer img{
    max-height: 36px;
}
#servicio h1{
    font-family: 'Open Sans', sans-serif;
    color:rgb(44, 44, 44);
    font-size: 60px;
}
#card{
    margin:auto;
    text-align: center;
    display: flex;
    border:none;
    background-color:white;
    max-width: 400px;
    max-height: 800px;
    display: flex;
    }
#card img{
    height: 80%;
    
}
#card p{
    font-size: 18px;
}
#card h2{
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
}
