
/*Barra*/
#barra li a:hover{
    
    color: #ffffff;
}
#barra{
    background-color: #F3969A;

}
/*Carrusel*/
#carruselMain .carousel-inner img{
    max-height: 91vh;
    object-fit: cover;
}
#portafolio{
    text-align: center;
    
}
/*Tarjetas*/
#servicio{
    display:block;
    margin:auto;
    margin-top: 20px;
    text-align:center;
    font-family: "Merienda One";
    
}
#servicio hr{
    background-color: #F3969A ;
    font-size: x-large;
    height: 5px;
}
#servicio .row img{
    height: 300px;
}
/*Link portafolio*/
#portafolio a{
    background-color: #F3969A ;
    color: #ffffff;
    text-decoration:none;
    font-size: x-large;
}
/*Contacto Banner*/
#contacto{
    background-color:#56CC9D;
    color: lightcyan;
    font-family: "Merienda One";
    text-align: center;
}
#contacto a{
    background-color: lightcyan ;
    font-size: x-large;
    height: 50px;
    color: #56CC9D;
}
/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#footer a:hover{
    color:#77818b;

}
#footer img{
    max-height: 36px;
}
#servicio h1{
    font-family: "Merienda One";
}
#card{
    border:none;
}