/*Barra*/
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color:#ffe1e1;
    font-size: 15px;
}
/**/
.container h1{
    text-align: center;
}
#contenido p{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}
#contenido h2{
    font-size: 40px;
}
/*Carrusels*/
.foto{
    text-align: center;
    box-shadow: 15px 20px 0px 0px rgb(216, 203, 184);
    max-height: 100%;
    max-width: 90%;
    
}

/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}

#icon{
    font-size: xx-large;
}
#servicio h1{
    font-family: "Merienda One";
}
#card{
    border:none;
}