* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Barra*/
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color: #F3969A;
    font-size: 15px;
}
#katu{
    font-family: 'Yellowtail', cursive;
    color: 	#0a0a0a;
    font-size: 30px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#frase{
    position: relative;
    bottom: 5px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    text-align: center;
}
/*Modal*/
.contenedor {
	width: 90%;
	margin: auto;
}
header .categorias{
    text-align: center;
    margin-bottom: 20px;
}
header .categorias a{
    color: #9b9b9b;
    margin: 18px 28px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}
header .categorias a:hover{
    text-decoration: none;
}

header .categorias a.activo {
    color: black;

}
/* Grid*/

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}
.grid.imagenes-cargadas{
    opacity: 1;
}
.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin:2px;
    width: calc(33.3333333% - 4px);
}
.grid .item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}
.grid .item-contenido{
    position: relative;
}
/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}
/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#icon{
    font-size: xx-large;
}

@media screen and (max-width:1000px){
    .grid .item{
        width: calc(50% - 4px);
    }
}
@media screen and (max-width:700px){
    .grid .item{
        width: 100%;
    }
}