/*Barra*/
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color: #F3969A;
    font-size: 15px;
}
#katu{
    font-family: 'Yellowtail', cursive;
    color: 	#0a0a0a;
    font-size: 30px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#frase{
    position: relative;
    bottom: 5px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    text-align: center;
}
/*Perfil*/
#perfil{
    margin: 0px;
    padding: 0px;
    height: 675px;
    width: 540px;
    text-align: center;

}
#perfil img{
    height: 100%;
}
#descripcion h1{
    text-align: center;
}
#descripcion {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}
#descripcion hr{
    text-align: center;
    background-color: #bca0e2;
    height: 5px;
    width: 300px;
    border-radius: 10px;
}

/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#icon{
    font-size: xx-large;
}