#barra li a:hover{
    color: #ffffff;
}
#barra{
    background-color: #F3969A;
}
#perfil img{
    padding-top:2em;
    width: 75%;
    display:block;
    margin:auto;
    padding-bottom: 1em ;
}
#descripcion {
    background-color:wheat;
    scroll-padding-left: 1em;
    font-size: large;
}
#descripcion hr{
    height: 2px;
    background-color:lightsalmon;
}
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;

}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#footer a:hover{
    color:#77818b;

}
#footer img{
    max-height: 36px;
}