/*Barra*/
#barra{
    font-family: 'Open Sans', sans-serif;
    background-color:#ffe1e1;
    font-size: 15px;
}
/*Perfil*/
#perfil{
    margin: 0px;
    padding: 0px;
    height: 675px;
    width: 540px;
    text-align: center;

}
#perfil img{
    height: 100%;
}
#descripcion h1{
    text-align: center;
}
#descripcion {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}
#descripcion hr{
    text-align: center;
    height: 1px;
    width: 400px;
    border-radius: 100px;
}

/*Footer*/
#footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
}
#footer a{
    text-decoration:none;
    color:#ffffff;
}
#icon{
    font-size: xx-large;
}